header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    background-image: linear-gradient(to right, #43c6ac, #2a2768 );
}

header > h1 {
    font-weight: 500;
    color: whitesmoke;
    font-size: 2.5em;
    padding: 0 0 5px 10px;
}

header h2{
    font-weight: 200;
    color: whitesmoke;
    font-size: 1.3em;
    padding: 0 0 5px 10px;
}