*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cardBoard{
    display: grid;
    width: 325px;
    height: 100%;
    overflow: hidden;
    background-color: #fafafae3;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0,0, 0.2);
    background-color: rgb(233, 247, 242);
}

.titleBar{
    background-color: #D3FEEE;
}

.titleBar .titleConvert{
    
    color: #333;
    margin-left: 8px;
}

.inputArea{
    background-color: rgb(233, 247, 242);
}


input{
    border:none;
    background-color: rgb(233, 247, 242);
    border-radius: 5px;
    font-size: 1.2em;
    color: #333;
    font-weight: 350;
    
}

button{
    cursor: pointer;
    border:none;
    color: #333;
    font-weight: bold;
}

button:hover{
    box-shadow: 2px 2px 5px rgba(0, 0,0, 0.2);
}

input:hover{
    background-color: #fafafae3;
}